

body{
    font-family: 'Roboto', sans-serif;
}
/* reset */
h1,
h2,
h3,
h4,
p {
    margin: 0;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height:auto;
}

a,
a:visited{
    text-decoration:none;
    color: var(--bacsic-black);
}

:root{
    --blue:#2196F3;
    --bacsic-black:#212121;
}
.link:hover{
    color: var(--blue);
}


.conteiner{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right: auto; 
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}


/* .logo {
    margin-left: 215px;
} */
.up-line{
    border-bottom: 1px solid #ECECEC;
} 
.logo-p1, .logo-p2 {
    color: var(--blue);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height:1.2;
}

.logo-p2 {
    color:#000000;

}
.nav-list{
    display:flex;
    margin-left: 93px;
}
    

.nav-item{
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height:1.15;
    color: #000000;
    /* box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.nav-item:not(:last-child){
    margin-right: 32px;
}

.connect{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.connect .connect-item + .connect-item{
    margin-left:50px;
}

.up-line{
    height: 80px;
    display: flex;
    align-items: center;

}
.mail, 
.phone {
    margin: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color:var(--blue);
}
.phone{
    color: #757575;
}
.site-face {
    display: flex;
    align-items: center;

    /* height:600px; */
    background-color:#2F303A;
    text-align: center;
    
}
.tagline {
    max-width: 696px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height:1.4;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cervice-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #ffff;
    background-color:var(--blue);
}

.features-list {
    display: flex;
    justify-content: center;
    margin-bottom: -94px;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}
.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height:1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bacsic-black);
}
.feature-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color:#757575;
}

.we-do-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    line-height:1.2;
    letter-spacing: 0.03em;
    color: var(--bacsic-black);
}

.we-do-list{
    display: flex;
    justify-content: center;
}

.we-do-item {
    align-items: center;
    justify-content: center;
    
}
.we-do-item:not(:last-child){
    margin-right: 30px;
}

.team {
    background-color:#F5F4FA;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--bacsic-black);

    text-align: center;
    padding-bottom: 50px;
}
.team-list {
    display: flex;
    align-items: center;
    justify-content:center;

}
.team-list :nth-child(4n) {
    margin-right: 0px;
}
.team-item{
    padding-bottom: 30px;
    /* width: calc((100% - 90px) / 4); */
    margin-right: 30px;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.team-name{
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-position{
    padding-bottom: 20px;
}

.team-name, 
.team-position{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--bacsic-black);
}
.team-position{
    font-weight: 400;
    color: #757575;
}

.filters-list {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 56px;
} 
.filters-item{ 
    margin-right: 8px;
}
.filters-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8; 
    letter-spacing: 0.03em;
    text-align: center;
    border-radius: 4px;
    background-color: #F5F4FA;
    border:1px;
}
.filters-button:hover{
    background-color: var(--blue);
    color: #F5F4FA;
}
.filters-list :last-child{
    margin-right: 0;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.portfolio-item{
    /* margin-right: 30px; */
    border-bottom:1px solid #EEEEEE;
    margin-bottom: 30px;


}
/* .portfolio-item:nth-child(3n){
    margin-right: 0px;
} */
.project-name {
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--bacsic-black);
}
.project-type {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}
.project-name,
.project-type {
    margin-left: 24px;
}

.foot {
    background-color:#2F303A;
}
.foot-logo{
    padding-top: 64px;
    margin-bottom: 20px;
}
.foot-logo-p2{
    color: #FFFFFF;
}
.foot-adres{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:#FFFFFF;
    margin-bottom: 9px;
    padding-bottom: 56px;
}

.foot-contacts{
    line-height:1.7;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 56px;
}