

body{
    font-family: 'Roboto', sans-serif;
}
/* reset */
h1,
h2,
h3,
h4,
p {
    margin: 0;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height:auto;
}

a,
a:visited{
    text-decoration:none;
    color: var(--bacsic-black);
}

:root{
    --blue:#2196F3;
    --bacsic-black:#212121;
    --decor-c-1:250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus{
    color: var(--blue);
    fill: var(--blue);

}


.conteiner{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right: auto; 
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.row{
    display: flex;
}

/* .logo {
    margin-left: 215px;
} */
.underline{
    border-bottom: 1px solid #ECECEC;
} 
.logo-p1, .logo-p2 {
    color: var(--blue);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height:1.2;
}

.logo-p2 {
    color:#000000;

}
.nav-list {
    display:flex;
    margin-left: 93px;
}


.nav-item{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height:1.15;
    color: #000000;

    /* box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.nav-item:not(:last-child){
    margin-right: 50px;
}

.current {
	color: var(--blue);
	position: relative;
}
.current::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 4px;
	display: inline-block;
	background-color: currentColor;
	border-radius: 2px;
}


.connect{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.connect .connect-item + .connect-item{
    margin-left:50px;
}

.up-line{
    height: 80px;
    display: flex;
    align-items: center;
}
.connect-svg{
    margin-right: 10px;
}
.connect-icon{
    fill: currentColor;
}

.mail, 
.phone {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: #757575;
}

.site-face {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:  linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url('../images/site-face-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.tagline {
    max-width: 696px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height:1.4;
    text-transform: uppercase;
    color: #FFFFFF;

}

.cervice-button {
    padding: 10px 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #ffff;
    background-color:var(--blue);
}

.features-list {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
}
.features-item{
    max-width: 270px;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}
.feature-background{
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
.features-title {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height:1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bacsic-black);
}
.feature-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:#757575;

}
.we-do{
    padding-top: 0px;
}


.we-do-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    line-height:1.2;
    letter-spacing: 0.03em;
    color: var(--bacsic-black);
}

.we-do-list{
    display: flex;
    justify-content: center;
    /* position: relative; */
}

.we-do-item {
    align-items: center;
    justify-content: center;
    position: relative;


}
.we-do-item:not(:last-child){
    margin-right: 30px;
}
.we-do-item-title{
    position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	width: 100%;
	height: 70px;
	color: #FFFFFF ;
	background: rgba(47, 48, 58, 0.8);
}


.team {
    background-color:#F5F4FA;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--bacsic-black);

    text-align: center;
    padding-bottom: 50px;
}
.team-list {
    display: flex;
    align-items: center;
    justify-content:center;

}
.team-list :nth-child(4n) {
    margin-right: 0px;
}
.team-item{
    padding-bottom: 30px;
    /* width: calc((100% - 90px) / 4); */
    margin-right: 30px;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);

}

.team-name{
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-position{
    padding-bottom: 20px;
}

.team-name, 
.team-position{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--bacsic-black);
}
.team-position{
    font-weight: 400;
    color: #757575;

}
.social-media-list{
    display: flex;
    justify-content:center;
    margin-top: 16px;
}
.social-media-item:not(:last-child){
    margin-right: 10px;
}

.social-media-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
}
.social-media-icons{
    fill: #AFB1B8;
}
.social-media-link:hover,
.social-media-link:focus{
    background-color: #2196F3;
}

.social-media-link:hover .social-media-icons,
.social-media-link:focus .social-media-icons
{
    fill: #FFFFFF;
}

.permanent-customers-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}
.p-castomers-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-castomers-item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;

}
.p-castomers-item:not(:last-child){
    margin-right: 30px;
}
.p-castomers-item:hover,
.p-castomers-item:focus{
    border-color: var(--blue);
}

.p-castomers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;

    fill: #AFB1B8;
}
.p-castomers-link:hover,
.p-castomers-link:focus{
    fill: var(--blue);
}

.filters-list {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
} 
.filters-item{ 
    margin-right: 8px;
}
.filters-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8; 
    letter-spacing: 0.03em;
    text-align: center;
    border-radius: 4px;
    background-color: #F5F4FA;
    border:1px;
    padding: 6px 22px;
}
.filters-button:hover{
    background-color: var(--blue);
    color: #F5F4FA;
}
.filters-list :last-child{
    margin-right: 0;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;

    /* justify-content: space-between; */

}

.portfolio-item{
    flex-basis: calc(100% / 3 - 30px);

    max-width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-item:nth-child(3n){
    margin-right: 0px;
}

.portfolio-list .portfolio-item:nth-last-child( -n+3 ) {
    margin-bottom: 0px;
}
.portfolio-hidden {
	position: relative;
	overflow: hidden;

}
.portfolio-overlay {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(100%);
	padding: 63px 24px;
	background: rgba(33, 150, 243, 0.9);
	transition: transform var(--decor-c-1); 
}
.portfolio-description {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: #FFFFFF;

}
.portfolio-list .link:hover .portfolio-overlay {
	transform: translateY(0%);
}



.portfolio-item:hover,
.portfolio-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06),
     1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* .type-name{
    z-index: auto;
} */
.type-name{
    /* position: relative; */
    padding: 20px 24px 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom:1px solid #EEEEEE;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--bacsic-black);
}

.project-type {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;

}




/* .project-type,
.project-name{
    position: relative;
} */

.foot {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:#2F303A;
}
.foot-logo{
    margin-bottom: 20px;
}
.foot-logo-p2{
    color: #FFFFFF;
}
.foot-adres{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:#FFFFFF;
}
.foot-contacts{
    line-height:1.7;
    color: rgba(255, 255, 255, 0.6);
}
.mail-foot{
    margin-top: 9px;
    margin-bottom: 9px;
}
.foot-flex{
    display: flex;
    align-items: baseline;
}
.foot-social-media{
    margin-left:70px ;
}
.foot-social-media-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

}
.foot-icons-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    background: rgb(255,255,255,0.1 );
    border-radius: 50%;
}
.foot-icons{
    fill: #FFFFFF;

}
.foot-icons-link:hover,
.foot-icons-link:focus{
    background-color: var(--blue);
}


/* Модальне вікно */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	visibility: visible;
	pointer-events: initial;
	transition: opacity var(--decor-c-1), visibility var(--decor-c-1);
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 528px;
	min-height: 581px;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.modal-close-btn {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 8px;
	right: 8px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color:#FFFFFF;
	cursor: pointer;
}
.closed-icon{
    fill: #000000;
}
