.foot {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:#2F303A;
}
.foot-logo{
    margin-bottom: 20px;
}
.foot-logo-p2{
    color: var(--basic-wite);
}
.foot-adres{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--basic-wite);
}
.foot-contacts{
    line-height:1.7;
    color: rgba(255, 255, 255, 0.6);
}
.mail-foot{
    margin-top: 9px;
    margin-bottom: 9px;
}
.foot-flex{
    display: flex;
    align-items: baseline;
}
.foot-social-media{
    margin-left:70px ;
}
.foot-social-media-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--basic-wite);

}
.foot-icons-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--basic-wite);
    background: rgb(255,255,255,0.1 );
    border-radius: 50%;
}
.foot-icons{
    fill: var(--basic-wite);

}
.foot-icons-link:hover,
.foot-icons-link:focus{
    background-color: var(--blue);
}
 
.foot-media-icon {
    fill: currentColor;
}

.foot-subscribe {
    position: relative;
    margin-left: auto;
}

.foot-form {
    display: flex;
}

.foot-mail {
    position: relative;
}
.foot-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--basic-wite);
    margin-bottom: 20px;

}
.input-mail {
    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;  
    letter-spacing: 0.03em;
    color: var(--basic-wite);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.foot-btn {
    display:flex;
    align-items: center;
    text-align: center;
    padding: 10px 28px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--basic-wite);
    background: var(--blue);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.foot-icon-btn {
    fill: var(--basic-wite);
    margin-left: 10px;
    top: 10;
    right: 0;
    transform: translateY(0);
}