
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	visibility: visible;
	pointer-events: initial;
	transition: opacity var(--decor-c-1), visibility var(--decor-c-1);
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	height: 581px;
	background-color: var(--basic-wite);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.modal-close-btn {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 8px;
	right: 8px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color:var(--basic-wite);
	cursor: pointer;


    &:hover,
    &:focus + svg {
        fill: var(--blue);
    }

}
 
.sign-up-forms {
	padding: 40px;
}
.sign-up-forms strong {
    text-align: center;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	color: var(--basic-black);
}

.modal-title{
    display: flex;
    justify-content: center;
}

.sign-up-form-field {
	display: flex;
	flex-direction: column;
 
}


.form-wrapper {
    display: flex;
	margin-top: 12px;
	flex-direction: column;
	gap: 10px;
}

.sign-up-form-field {
	position: relative;
}
.sign-up-form-field svg {
	position: absolute;
	left: 12px;
	bottom: 11px;
}

.sign-up-form-field label {
    font-size: 12px;
    line-height: 14px;
    color: var(--basic-gray);
	letter-spacing: 0.01em;
}

.sign-up-form-field input {
	height: 40px;
	margin: 0;
	padding: 0 10px 0 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border var(--decor-c-1);
}

.sign-up-form-field textarea {
	height: 120px;
	resize: none;
	padding: 12px 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border var(--decor-c-1);


    &::placeholder {
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.sign-up-form-field input:hover,
.sign-up-form-field textarea:hover,
.sign-up-form-field input:focus,
.sign-up-form-field textarea:focus {
	border: 1px solid  var(--blue);
	outline: transparent;
}

.sign-up-form-field input + svg {
	transition: fill var(--decor-c-1);
}
.sign-up-form-field input:hover + svg,
.sign-up-form-field input:focus + svg {
	fill: var(--blue);
}
.discription{
    padding-bottom: 4px;
}

.sign-up-form-checkbox {
    display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
	letter-spacing: 0.03em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkbox-label {
	display: flex;
	align-items: center;
}

.checkbox-agreement {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:var(--basic-gray)
}

.checkbox-terms {
	color: var(--blue);
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration-line: underline;
}

.checkbox-icon {
    fill: var(--basic-wite);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 15px;
	margin-right: 7px;
	outline: 2px solid var(--basic-black);
	outline-offset: -2px;
	border-radius: 2px;
	transition: background-color var(--decor-c-1),
    outline-color var(--decor-c-1);
}
.checkbox-input{
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-origin: border-box;
}

.checkbox-input:checked + .checkbox-icon {
	background-color: var(--blue);
	outline-color: var(--blue);
}

.modal-submit-btn {
	display: block;
	padding: 10px 55px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	border: transparent;
	font-family: inherit;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--basic-wite);
	background-color: var(--blue);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: background-color var(--decor-c-1),
     color var(--decor-c-1);

    &:hover,
    &:focus {
        background-color: var(--blue);
        color: var(--basic-wite);
    }
}