.permanent-customers-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--basic-black);

}
.p-castomers-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-castomers-item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;


    &:not(:last-child){
        margin-right: 30px;
    }

    &:hover,
    &:focus{
        border-color: var(--blue);
    }
}

.p-castomers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;

    fill: #AFB1B8;

    &:hover,
    &:focus{
        fill: var(--blue);
    }
}