.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	color: var(--accent-txt-color);
	text-decoration: none;
	margin-right: 88px;

	@media screen and (min-width: 1200px) {
		margin-right: 93px;
		font-size: 26px;
		line-height: 1.19;
	}

	&--color-black {
		color: var(--black-txt-color-logo);
	}

	&--color-white {
		color: var(--white-txt-color);
	}
}

.header {
	border-bottom: 1px solid var(--border-heder);
}

.header-container {
	display: flex;
	align-items: center;

	@media screen and (max-width: 767px) {
		padding-bottom: 16px;
		padding-top: 16px;
	}
}

.nav-container {
	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
	}
}

.header-nav {
	display: none;

	@media screen and (min-width: 768px) {
		display: flex;
		color: var(--black-txt-color-main);
		font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;

		&--current {
			color: var(--accent-txt-color);
			position: relative;
		}

		&--current::after {
			content: "";
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 100%;
			height: 4px;
			display: inline-block;
			background-color: currentColor;
			border-radius: 2px;
		}

		& .link {
			display: block;
			padding-top: 32px;
			padding-bottom: 32px;
			transition: color var(--anim);
		}

		& .item {
			&:not(:last-child) {
				margin-right: 50px;
			}
		}

		& .link:hover,
		& .link:focus {
			color: var(--accent-txt-color);
		}
	}
}

.auth-nav {
	display: none;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-left: auto;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		flex-direction: row;
		gap: 30px;
		margin-left: auto;
	}

	& .auth-nav-link:hover,
	& .auth-nav-link:focus {
		color: var(--accent-txt-color);
	}
}

.auth-nav-link {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	color: var(--grey-txt-color);
	transition: color var(--anim);

	@media screen and (min-width: 1200px) {
		padding-top: 32px;
		padding-bottom: 32px;
		font-size: 14px;
		line-height: 1.14;
	}
}

.auth-nav-icon {
	fill: currentColor;
	margin-right: 10px;
}