body {
	font-family: var(--main-font), sans-serif;
	font-size: 14px;
	line-height: 1.71;
	color: var(--grey-txt-color);

	&.no-scroll {
		overflow: hidden;
	}
}

.hero,
.features,
.doing,
.people,
.clients,
.portfolio-nav {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}